* {
	margin: 0;
  box-sizing: border-box;
}

html, body {
    padding:0;
  	 margin: 0;
    height: 100%;
}

body {
  background: linear-gradient(45deg, #3949AB, #1E88E5);
}

h1 {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

#loadingBlock {
	height: 100%;
	background-color: lightgreen;
	font-size: 36pt;
	z-index:100;
}

#controls {
	display:flex;
	flex-direction: column;
	height: 100%;
	background-color: beige;
	min-height: 100%;
	width:100%;
   margin: 0 auto -1em; /* the bottom margin is the negative value of the footer's height */
}

div.statusElement:nth-child(n+2) {
	border-left:solid 1px black;
	margin-left: 10px;
}

.status {
	display:flex;
	flex-direction: row;
}

.statusValue {
	font-family: monospace;
	width: 4em;
}

.statusElement.label::after {
  content: ":";
}

.label { font-weight: bold; font-variant: small-caps; }

.mainBody {
	flex-direction: row;
}

#queryResults {
	width: 20%;
	height: 20%;
	background-color: yellow;
}

footer {
    border-top:1px solid green;
    width:100%;
    height:1em;
	 position:fixed;
    bottom:0;
}
